<h1>Search Results</h1>

results count: <%= @foods.count %>

<div class='foods'>
  <% food_id = 0 %>
  <% @foods[0..9].each do |food| %>
    <% food_id += 1 %>
    <div class='food' id="food-<%= food_id %>">
    <ul>
      <li>GTIN/UPC code: <%= food.gtinupc %></li>
      <li>description: <%= food.description %></li>
      <li>Brand Owner: <%= food.brand_owner %></li>
      <li>ingredients: <%= food.ingredients %></li>
    </ul>
  </div>
  <% end %>
</div>
